:root {
  --margin-sm: 22.5px;
  --margin-md: 45px;
  --margin-lg: 60px;
}

.page-grid {
  margin-top: var(--margin-md);
  display:flex;
  flex-direction: row;
  gap: var(--margin-md);
}

.page-main {
  display: flex;
  flex-direction: column;
  border-radius:12px;
  
}
.genres {
  display: flex;
  flex-direction: row;
  gap:10px;
  
}
.genre-chip {
  color: #fff;
  background-color: #A59AAC;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.companies {
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
#vote {
  color: #f0c375;
  font-size: 20px;
}
#movie-image {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 300px;
  position: sticky;
  top: 20px;
}
.vote-flex {
  display:flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
}

.company-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #1A0029;
  background-color: #190027;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.company-name {
  font-weight: 700;
  text-align:center;
  margin: 0px;
}
.seasons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: var(--margin-sm)
}
.season-card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: var(--margin-sm);
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  gap: 10px;
}

.season-card-body {
  display: flex;
  flex-direction: col;
}
.serie-image {
  width: 100px;
  border-radius: 4px;
}

.details-nav {
  background-color: #392E5B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  border-radius: 4px;
  
  margin-bottom: var(--margin-sm);
  padding: var(--margin-sm)
}
.title-container {
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: var(--margin-sm);
  padding: var(--margin-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#voter-count {
  font-weight: 300;
  font-size: 8;
}

h2 {
  margin: 0px;
}
@media only screen and (max-width: 980px) {
  .page-grid {
    flex-direction: column-reverse;
  }
  #movie-image {
    margin-left: auto;
    margin-right: auto;
  }
}

.dates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cast {
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
}
.cast-subtitle {
  font-weight: 300;
  font-size: 10px;
  margin:0px;
}
.mts {
  margin-top: var(--margin-sm);
}